<p>
  conference-detail works!
</p>

<section class="conference">
  <article>

    <object data="../../assets/Acomodo_Clases.pdf" type="application/pdf" width="100%" height="100%">
      <iframe src="../../assets/Acomodo_Clases.pdf" width="100%" height="100%" style="border: none;">
        <!-- This browser does not support PDFs. Please download the PDF to view it: <a href="../../assets/Acomodo Clases.pdf">Download PDF</a> -->
      </iframe>
    </object>
    <p>{{classes | json}}</p>
    <article *ngFor="let class of classes">
      <div class="class">
        <a [routerLink]="['/class', class._id]">
          <h3>{{class.title}}</h3>
        </a>
        <strong>{{class.speaker}}</strong>
        <p>
          {{class.day}}, {{class.time}}, {{class.classroom}}
        </p>
        <p>
          {{class.description}}
        </p>
      </div>
    </article>
  </article>
  <button [routerLink]="['/class/new', idConference ]" type="submit">Agrega nueva clase </button>
</section>