     <div class="navbar">
        <img width="100" alt="LBP Logo" src="../assets/images/LBP_logo.jpg" href="http://localhost:4200">
        <p> {{user | json}}</p>
        <div class="container">
            <div class="nav">
                <ul>
                    <li><a  [routerLink]="['/']">Inicio</a></li>
                    <li><a  [routerLink]="['/users']">Usuarios</a></li>
                    <li><a  [routerLink]="['/conferences']">Congreso</a>
                        <ul>
                            <li><a  [routerLink]="['/classes']">Clases</a></li>
                            <li>Asistentes al Congreso</li>
                        </ul>
                    </li>
                    <li [routerLink]="['/login']">Log in</li>
                    <li [routerLink]="['/signup']">Sign up</li>
                    <li (click)= "logout()">Log out</li>
                </ul>
            </div>
        </div>
    </div>

<router-outlet></router-outlet>
