  <section class="main-container">
         
                
     <div class="navbar">
        <!-- <img width="100" alt="LBP Logo" src="../../../backLBP/public/images/LBP_logo.jpg" href="http://localhost:4200"> -->
        <!-- <a href="http://localhost:3000/api/users">Usuarios</a>
        <a href="http://localhost:3000/api/classes">Clases</a>
        <a href="http://localhost:3000/api/conferences">Congreso</a> -->

        <a href="http://localhost:4200/api/users">Usuarios</a>
        <a href="http://localhost:4200/api/classes">Clases</a>
        <a href="http://localhost:4200/api/conferences">Congreso</a>
    </div>
    <!-- <app-dashboard></app-dashboard> -->
</section>
<router-outlet></router-outlet>
