<p>
  conference-board works!
</p>

<div id="" class="">
  <form class="">
    <div class="container">
      <h2>Entra a tu cuenta</h2>
      <label for="email">
        <p>Email</p>
      </label>
      <input type="text" placeholder="Ingresa tu Email" name="email">
      <br>
      <label for="psw">
        <p>Contraseña</p>
      </label>
      <input type="password" placeholder="Ingresa tu contraseña" name="psw">
      <br>
      <div class="clearfix">
        <button type="submit" class="loginbtn">Entra</button>
      </div>
    </div>
  </form>
</div>
<br>
<hr>
<div id="" class="">
  <form class="">
    <div class="container">
      <h2>Registrate</h2>
      <label for="email">
        <p>Email</p>
      </label>
      <input type="text" placeholder="Ingresa tu Email" name="email">
      <br>
      <label for="psw">
        <p>Contraseña</p>
      </label>
      <input type="password" placeholder="Ingresa tu contraseña" name="psw">
      <br>
      <label for="psw-repeat">
        <p>Confirma tu Contraseña</p>
      </label>
      <input type="password" placeholder="Repite tu Contraseña" name="psw-repeat">
      <br>
      <div class="clearfix">
        <button type="submit" class="signupbtn">Registrate</button>
      </div>
    </div>
  </form>
</div>