<section class="conferences">
  <article *ngFor="let conference of conferences">
    <div class="conference">
      <h3>{{conference.edition}}</h3>
      <strong>lugar</strong>
      <h4>dias</h4>
      <p>
        {{conference.description}}
      </p>
    </div>
  </article>
</section>

<button [routerLink]="['/conference/new']" type="submit">Agrega nuevo congreso</button>


<!-- <form (ngSubmit)="submitForm(myForm)" #myForm="ngForm">
  <p> Congreso numero:
    <input type="text" name="edition" ngModel />
  </p>
  <p> Descripcion
    <input type="text" name="description" ngModel />
  </p>
  <p> Dias de la conferencia
    <input type="text" name="fromtoDates" ngModel />
  </p>
  <button type="submit">Agrega congreso </button>
</form> -->
